:root{
    font-size: 62.12%;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.nav{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(194, 223, 88);
    padding: 2rem;
}
.nav .nav-items a{
    margin: 10px;
    font-size: 2rem;
    text-decoration: none;
    padding: 1rem;

}
.container{
    margin: 2rem;
    display: flex;
    flex-direction: column;
    padding: 5rem;
    background-color: rgb(194, 223, 88);
    box-shadow: 0 0.2rem 0.4rem 0.2rem;
}

.btn{
    width: 10rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    text-decoration: none;
    font-size: 2rem;
    margin-bottom: 2rem;
    transition: all 0.4s;
    padding: 0.5rem;
}
.btn:hover{
    box-shadow: 0 0.2rem 0.4rem 0.2rem;
    transform: scale(1.1);
    transition: all 0.4s;
}
@media (max-width: 320px){
    .container{
        padding: rem;
    }
    
}
.footer{
    position: absolute;
    bottom: 0;
    background-color: rgb(194, 223, 88);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

