h1{
    font-size: 5rem;
}
hr{
    width: 100%;
    color: #000;
    border: solid;
    margin: 0rem 0rem;
}
ul{
    margin: 4rem 0rem;
}
li{
    list-style: none;
    margin-left: -3.5rem;
    font-size: 2.5rem;
}
.buttons {
    display: flex;
    justify-content: space-between;
}
input{
   font-size: 2rem;
   text-align: center;
}