li{
    list-style: none;
    font-size: 2rem;
    margin-left: -4rem;
    background-color: white;
    margin-bottom: 1rem;
    padding: 0.5rem;
}
@media (max-width:775px ){
    li{
        font-size: 1.8rem;
    }
}
a{
    text-decoration: none;
}
.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}